.nav-men{
    background-color: rgb(105, 4, 4);
}

.navbar-nav .nav-link.nav-el {
    color: white; /* Apply white color to text */
    padding-right: 75px;
    padding-left: 75px;
    font-size: 18px;
}

.drag_card {
    max-width: 200px;;
}

.situation_img {
    max-width: 400px;
}

.centered {
    text-align: center;
}

.right-aligned {
    float: right;
}

.left-aligned {
    float: left;
}

.home-button{
    background-color: white;
    color:grey;
    border-color: grey;
    margin-right: 20px;
    margin-left: 20px;
    padding-right:20px;
    padding-left:20px;
    font-size: 18px;
}

.home-button:hover{
    background-color: rgb(225, 220, 220);
}

.home-msg{
    margin-top: 180px;
    margin-bottom: 50px;
    font-size: 50px;
}

.lesson-picture{
    height:210px;
    width: 320px;
}

#next{
    background-color: rgb(105, 4, 4);
    color: white;
    font-size: 20px;
}

#next:hover{
    background-color: rgb(151, 5, 5);
}

#prev{
    background-color: rgb(105, 4, 4);
    color: white;
    font-size: 20px;
}

#prev:hover{
    background-color: rgb(151, 5, 5);
}

.learn-heading{
    font-size: 40px;
}

.category{
    font-size: 25px;
}

.class-title {
    font-weight: bold;
    font-size: 25px;
}