.results-body {

    margin-top: 2vw;

    display: flex;
    /* Use flexbox to center the content */
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center align children horizontally */
    justify-content: center;
    /* Set the height of the container to full viewport height */
    text-align: center;
}

.results-header {
    margin: 0;
    margin-top: 1vw;
    font-size: 3vw;
    letter-spacing: .3vw;
    font-weight: bold;
    font-family: 'Playfair Display', 'sans-serif';
}

.results-subheader {
    margin-top: 1vw;
    font-size: 1.2vw;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

.results-box {
    margin-top: 3vw;
    margin-bottom: 3vw;
    border: black solid 1px;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 6vw;
    padding-right: 6vw;
}

.result {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .3vw;
    font-size: 1.6vw;
    font-weight: 100;
}

.result-score {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: bold;
}

.want-to-try-again-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 100;
}

.start-quiz-again {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 100;
    color: darkgrey;
    text-decoration: underline;
}

/* Override Bootstrap's column padding for a full-height card display */
.col-md-4 {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* This will make sure the cards stretch to the tallest one's height */
}

.nav-status-container {
    margin-top: 3vw;
}


.btn {
    display: inline-block;
    background-color: #640000; /* Adjust color to match your button */
    color: white;
    padding: .4vw 1.2vw; /* Adjust padding to change size, while keeping text centered */
    font-size: .8vw; /* Adjust font size as needed */
    border: none;
    border-radius: 4px; /* Adjust for rounded corners */
    line-height: 1; /* Default line height to ensure vertical centering */
    vertical-align: middle; /* This aligns the text vertically */
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
