{% extends "layout.html" %}

{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Quiz</title>
</head>
<body>
    <center><header>
        <h1 class = "home-msg">Learn How to Play Egyption Rat Slap</h1>
    </header>
    <main>

        <div>Learn how to play!</div>

        <br>

        <section>
            <button class = "home-button" onclick="window.location.href='/setup/1';">Tutorial</button>
            <button class = "home-button" onclick="window.location.href='/quickstart';">Overview</button>
        </section>
    </main>
    </center>
</body>
</html>

{% endblock %}
