{% extends "layout.html" %}

{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Quiz</title>
</head>
<body>
    <header>
        <h1>Welcome to Our Quiz and Learning Platform</h1>
    </header>
    <main>
        <section>
            <p>Get ready to test your knowledge and learn something new!</p>
            <button onclick="window.location.href='/setup/1';">Start Learning</button>
            <button onclick="window.location.href='/quiz/1';">Start Quiz</button>
        </section>
    </main>
</body>
</html>

{% endblock %}
