<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="r_home.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/main.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cuprum:ital@1&family=Mea+Culpa&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Cuprum:ital@1&family=Mea+Culpa&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap">

    <title>Let's Learn ERS!</title>

    <style>
        body {
            font-family: 'Playfair Display', serif;
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <img src="/static/images/logo.png" alt="Logo" class="navbar-logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/setup/1">Setup</a></li>
            <li><a href="/setup/6">Rules</a></li>
            <li><a href="/quickstart">Overview</a></li>
            <li><a href="/quiz/1">Quiz</a></li>
        </ul>
    </nav>

    <!-- <nav class="navbar navbar-expand-lg navbar-light nav-men">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link nav-el" href="/">Home</a>
                    <a class="nav-link nav-el" href="/setup/1">Setup</a>
                    <a class="nav-link nav-el" href="/setup/6">Rules</a>
                    <a class="nav-link nav-el" href="/quickstart">Summary</a>
                    <a class="nav-link nav-el" href="/quiz/1">Quiz</a>
                </div>
            </div>
        </div>
    </nav> -->

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <div class="bottom-bar"></div> <!-- The thin red bar -->

</body>

</html>