{% extends "layout.html" %}

{% block content%}
    <html>
        <head>
            <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>
        </head>
        <body>
            <center><div>
                <br>
                <h1>{{ lesson['Title'] }}</h1>

                <div>
                    {{ lesson['Subtitle'] }}
                </div>

                <br>
                <div>
                    <img class="lesson-picture" src="{{ lesson.Picture }}" alt="{{lesson ['Title'] }}">
                </div>

                <div>
                    {{ lesson['Category'] }}
                </div>

                <br>
                <div>
                    {{ lesson['Status'] }}
                </div>

                <br>
                <button id="prev" class="left-aligned">&lt;Prev</button>
                <button id="next" class="right-aligned">Next&gt;</button>
            </div></center>
    </body>
    </html>

{% endblock %}