{% extends "layout.html" %}

{% block content%}
    <html>
        <head>
            <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>
        </head>
        <body>
            <center><div>
                <br>
                <div class = "learn-heading">{{ lesson['Title'] }} <strong>{{ lesson['Title2'] }}</strong> </div>

                <div>
                    {{ lesson['Subtitle1'] }}
                </div>

                <strong><div>
                    {{ lesson['bigNum']}}
                </div></strong>

                <div>
                    {{ lesson['Subtitle2'] }}
                </div>

                <div>
                    {{ lesson['Subtitle3'] }}
                </div>

                <br>
                <div>
                    <img class="lesson-picture" src="{{ lesson.Picture }}" alt="{{lesson ['Title'] }}">
                </div>

                <div>
                    {{ lesson['Example']}}
                </div>

                <br>

                <div class = "category">
                    {{ lesson['Category'] }}
                </div>

                <div>
                    {{ lesson['Status'] }}
                </div>

                <br>
                <button id="prev" class="left-aligned">&lt;Prev</button>
                <button id="next" class="right-aligned">Next&gt;</button>
            </div></center>
    </body>
    </html>

{% endblock %}