{% extends "layout.html" %}

{% block content%}
<html>

<head>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script> -->
    <link rel="stylesheet" href="{{url_for('static', filename='learn.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <div class="learn-container">

        <div class="learning-header"> {{ lesson['Title'] }} {{ lesson['Title2'] }}</div>
        <div class="container mt-5">
            <div class="height-control row">
                <div class="col-md-5">
                    <div class="explanation-header"> Explanation </div>
                    <div class="explanation-text"> {{ lesson['Subtitle1'] }}</div>
                    <div class="example-header"> Example </div>
                    <div class="example-text"> {{ lesson['Example'] }}</div>

                </div>

                <div class="col-md-1 left-section"></div>

                <div class="col-md-6 right-section">
                    <div class="diagram">
                        <center><img class="lesson-picture" src="{{ lesson.Picture }}" alt="{{lesson ['Title'] }}"></center>
                    </div>
                </div>
            </div>

            <div class="nav-status-container">
                <div class="row learn-navigation justify-content-center align-items-center">
                    <div class="col-md-4 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary" id="prev">Previous</a>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="category">
                            {{ lesson['Category'] }}
                        </div>
                        <div class="status">
                            {{ lesson['Status'] }}
                        </div>
                    </div>

                    <div class="col-md-4 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary" id="next">Next</a>
                    </div>
                </div>
            </div>
        </div>


        <script src="{{ url_for('static', filename='learn.js') }}"></script>

</body>

</html>

{% endblock %}